*{
  color: maroon;
  margin: 1%;
  background-color: 91684a;
}
img{
  width: 300px;
  height: 280px;
  float:left;
}
h1{
  font-weight: bolder;
}

#show-Bill{
  display :none;
}
containers ul{
  display: inline-flex;
  color: whitesmoke;
  margin-left:  4%;
  padding-left: 1%;
  padding-right: 2%;
  text-align: center;
  }
  .containers ul li {
    width: 120px;
    margin: 1px;
    padding: 5px;
    list-style: none;
    text-align: center;
    margin-left: 2%;
    display: inline;
  }
  .containers ul li a {
    text-decoration: none;
    color:maroon;
    text-align: center;
  }
  .nav-item,.containers ul li 
  {
  /* background-color:moccasin; */
  border-radius: 1px;
  }
  #nav-item,.containers ul li:hover {
    background: peachpuff;
  }
.col-md-4{
  margin: 5px;
  /* border: 1px solid grey; */
  float: left;
  /* width: 390px; */
  box-sizing: border-box;
  padding-left: 2%;
}
#logo{
  width: 200px;
  height: 150px;
  float: left;
}
#pname{
  padding: 2%;
  text-align: center;
  text-decoration: underline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mantra{
  text-shadow: chocolate;
  text-align: right;
}
.Card-Intro{
  background-color: blanchedalmond;
  /* margin-top: 2%; */
  margin-left: 2%;
  margin-right: 2%;
}
.menu-bar{
  display: none;
}
.containers{
  margin: 0%;
  padding: 0%;
}
.containers ul li:hover link.menu-bar{
  display:block;
  position:absolute;
  list-style: none;
}
.card-menu{
  background: cornsilk;
  overflow: auto;

}
.item1{
  text-align: center;
  padding: 1%;
  margin-left: 1%;
}
#ft{
  /* width: 10px;
  height: 50px; */
  padding: 6%;
  color: #000;
}
footer{
  background-color:lightgray;
}
.row{
  background:#c8c6a7;
}