*{
  color: maroon;
  margin: 1%;
}
img{
  width: 300px;
  height: 280px;
  float:left;
}
h1{
  font-weight: bolder;
}

#show-Bill{
  display :none;
}
.containers ul{
  display: inline-flex;
  color:#f5c0c0;
  margin-left:  1%;
  padding-left: 2%;
  padding-right: 22%;
  text-align: center;
  }
  .containers ul li {
    width: 120px;
    margin: 1px;
    padding: 5px;
    list-style: none;
    text-align: center;
    margin-left: 0%;
    display: inline;
  }
  .containers ul li a {
    text-decoration: none;
    color:maroon;
    text-align: center;
  }
  .nav-item,.containers ul li 
  {
  /* background-color:moccasin; */
  border-radius: 1px;
  }
  #nav-item,.containers ul li:hover {
    background: peachpuff;
  }
.col-md-4{
  margin: 6px;
  /* border: 1px solid grey; */
  float: left;
  /* width: 390px; */
  box-sizing: border-box;
  padding-left: 0%;
}
#logo{
  width: 200px;
  height: 150px;
  float: left;
  margin-left: 5%;
  
}
#pname{
  padding: 2%;
  text-align: center;
  text-decoration: underline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
#mantra{
  text-shadow: chocolate;
  text-align: right;
  margin-left: 2%;
  font-weight: 400;
}
.Card-Intro{
  background-color: blanchedalmond;
  /* margin-top: 2%; */
  margin-left: 0%;
  margin-right: 0%;
}
.menu-bar{
  display: none;
}
.containers{
  margin: 0%;
  padding: 0%;
}
.containers ul li:hover link.menu-bar{
  display:block;
  position:absolute;
  list-style: none;
}
.item1{
  text-align: center;
  background-color: #f5c0c0;
}
#ft{
 align-items: baseline;
}
footer{
  background-color:lightgray;
}
.row{
  background:#c8c6a7;
  text-align: center;
  /* margin-left:6%; */
}
.nav-list{
  background-color: #c8c6a7;
  width: 2000px;
}